<!DOCTYPE html>
<html lang="es-cl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
    maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'usuario/css/flexboxgrid.min.css'%} ">
    <link rel="manifest" href="{% static 'usuario/manifest.json' %}">
    <link rel="stylesheet" href="{% static 'usuario/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'usuario/css/styleIni.css' %}">
    <link rel="stylesheet" href="{% static 'usuario/css/styleRegis.css' %}">
    
    <title>MidFun</title>
    

</head>
<body>
        <header>
                <div class="logo-menu">
                  <div class="container">
                    <div class="row middle-xs between-xs">
            
                      <div class="logo col-xs-12 col-sm-4 center-xs start-sm"><img src="{% static 'usuario/img/logo.png' %}" alt="logo"></div>
                      <nav class="menu col-xs-12 col-sm-8 center-xs end-sm">
                        <a href="{% url 'inicio' %}">Inicio</a>
                        <a href="{% url 'InicioSesion' %}">Iniciar Sesión</a>
                        <a href="{% url 'registro' %}">Registrarse</a>
                      </nav>
                    </div>
                  </div>
                </div>
              </header>
    <div class="contenedor-form">
        <div class="formulario2">
            <h2>Crear Cuenta</h2>
            <form action="{% url 'registro2'%}" id="formulario" method="POST">
                {% csrf_token %}
                <input id="username" type="text" name="username" placeholder="Usuario" >
                <input id="password" type="password" name="password" placeholder="Contraseña" >
                <input id="email" type="email" name="email" placeholder="E-mail">

                <input type="submit"  value="Registrarse">
            </form>
        </div>
    </div>

    <div class="extra">
      <div class="container">
        <div class="row middle-xs">
          <div class="Info col-xs-6 col-m-2"><h4>CONTACTO</h4>
            <p>¿Buscas más información? ¡Pues síguenos en nuestras redes sociales o 
              contacta desde nuestro correo electrónico!</p></div>
          <div class="text"></div>
        </div>
      </div>
    </div>
    <!--JS-->
    <script src="{% static 'usuario/js/jquery.js' %}"></script>
    <script src="{% static 'usuario/js/bootstrap.js' %}"></script>
    <script src="{% static 'usuario/js/jquery-validate.js' %}"></script>
    <script src="{% static 'usuario/js/main.js' %}"></script>
</body>
</html>